`ApJdataFrames`: Allers2006
---
`Title`: Young, Low-Mass Brown Dwarfs with Mid-Infrared Excesses  
`Authors`: AKCJ

Data is from this paper:  
http://iopscience.iop.org/0004-637X/644/1/364/

In [1]:
%pylab inline
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd

## Table 3 - Photometry

In [13]:
names = ['Source Number','RA (J2000.0)','DEC (J2000.0)','I', 'Ierr','J', 'Jerr',
         'H', 'Herr','Ks', 'Kserr','[3.6]', '[3.6]err','[4.5]', '[4.5]err',
         '[5.8]', '[5.8]err','[8.0]', '[8.0]err']

tbl3 = pd.read_csv("http://iopscience.iop.org/0004-637X/644/1/364/fulltext/64106.tb3.txt", 
                   sep=r'\t|\\pm', names = names)
tbl3.head()

,Source Number,RA (J2000.0),DEC (J2000.0),I,Ierr,J,Jerr,H,Herr,Ks,Kserr,[3.6],[3.6]err,[4.5],[4.5]err,[5.8],[5.8]err,[8.0],[8.0]err
0,1,12 57 58.7,-77 01 19.5,22.61,0.10,17.88,0.04,16.80,0.03,15.98,0.03,14.85,0.16,14.55,0.16,14.84,0.28,13.87,0.19
1,2,12 58 06.7,-77 09 09.5,19.61,0.05,14.99,0.03,13.50,0.03,12.48,0.03,11.49,0.16,11.04,0.16,10.60,0.16,10.01,0.16
2,3,13 00 59.3,-77 14 02.7,16.26,0.05,11.48,0.04,9.55,0.04,7.92,0.04,6.84,0.16,6.48,0.17,6.20,0.16,5.97,0.16
3,4,13 04 24.9,-77 52 30.3,14.66,0.05,12.19,0.04,11.22,0.04,10.57,0.04,10.00,0.16,9.68,0.16,9.38,0.16,8.67,0.16
4,5,13 05 40.8,-77 39 58.2,22.16,0.07,17.75,0.04,16.71,0.03,15.77,0.03,14.64,0.16,14.26,0.16,14.16,0.17,13.42,0.17

Drop source 12 because it was shown to be a galaxy.

In [14]:
tbl3.drop(11, axis=0, inplace=True)

    %%bash
    mkdir ../data/Allers2006

In [15]:
tbl3.to_csv('../data/Allers2006/tbl3.csv', index=False)

**The end.**