`ApJdataFrames` Alves_de_Oliveira_2013
---
`Title`: Herschel survey of brown dwarf disks in ρ Ophiuchi  
`Authors`: C. Alves Alves de Oliveira, P Ábrahám, G Marton, C Pinte, Cs Kiss, M Kun, Á Kóspál, Philippe André, and V Konyves  

Data is from this paper:  
http://www.aanda.org/articles/aa/full_html/2013/11/aa22402-13/aa22402-13.html

###Warning: copying from the website caused unicode errors.
These should be fixed now.

In [3]:
%pylab inline
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
import pandas as pd
pd.options.display.max_columns = 150

## Table 1 - Herschel/PACS fluxes for the detected brown dwarfs in ρ Ophiuchi.

So A&A offers no method to directly download a .txt file.  **SO I have to copy the table to a clipboard** to read it in.  
This. Boggles. My. Mind.

http://www.aanda.org/articles/aa/full_html/2013/11/aa22402-13/T1.html

```python
names = ["Identifier","RA","Dec","SpT","A V","Ref.","70 μm","100 μm","160 μm"]
tbl1 = pd.read_clipboard(sep='\t', names = names)
```

Since the reading from the keyboard method is not automatically repeatable, let's save this to as tab-separated data file, locally.  
Use tabs because there are commas in the content.

```python
tbl1.to_csv("../data/Alves_de_Oliveira2013/tbl1.csv", sep='\t', index=False)
```

In [6]:
tbl1 = pd.read_csv("../data/Alves_de_Oliveira2013/tbl1.csv", sep='\t')

In [7]:
tbl1.head()

,Identifier,RA,Dec,SpT,A_V,Ref,70_micron,100_micron,160_micron
0,GY92 154,16:26:54.79,-24:27:02.1,M6,20.1,"1, 4, 8",87.5 pm 10.3,172.8 pm 32.8,399.6 pm 246.4
1,GY92 171,16:26:58.41,-24:21:30.0,M6,6.6,"1, 4, 8",41.2 pm 10.5,53.6 pm 34.8,<189.0
2,GY92 204 a,16:27:06.60,-24:41:48.8,M6(M5.5),0.5,"1, 4, 5, 6",80.1 pm 5.6,48.4 pm 19.1,<115.2
3,ISO-Oph 160,16:27:37.42,-24:17:54.9,M6,6.0,"4, 5",38.8 pm 7.6,61.9 pm 20.5,<93.8
4,GY92 344,16:27:45.78,-24:44:53.6,M6,16.2,"1, 4, 8",727.3 pm 4.4,1338.8 pm 12.8,2675.6 pm 87.4

## Table A1 - 1σ upper limits for brown dwarfs in ρ Ophiuchi not detected in Herschel/PACS images

Once again, having to use the clipboard.

http://www.aanda.org/articles/aa/full_html/2013/11/aa22402-13/T3.html

```python
names = ["Identifier","RA","Dec","SpT","A V","Ref.","70 μm","100 μm","160 μm"]
tblA1 = pd.read_clipboard(sep='\t', names = names)
tblA1.to_csv("../data/Alves_de_Oliveira2013/tblA1.csv", sep = '\t', index=False)
```

In [16]:
tblA1 = pd.read_csv("../data/Alves_de_Oliveira2013/tblA1.csv", sep='\t', encoding='latin-1')

The End.