`ApJdataFrames` Chapman 2009
---
`Title`: THE MID-INFRARED EXTINCTION LAW IN THE OPHIUCHUS, PERSEUS, AND SERPENS MOLECULAR CLOUDS  
`Authors`: Nicholas L. Chapman, Lee G Mundy, Shih-Ping Lai, and Neal J Evans  

Data is from this paper:
http://iopscience.iop.org/0004-637X/690/1/496/

In [1]:
import warnings
warnings.filterwarnings("ignore")

## Table 1- Measured Quantities for PMS Candidates with Observed Spectra

In [2]:
import pandas as pd

In [9]:
tbl1 = pd.read_csv("http://iopscience.iop.org/0004-637X/690/1/496/suppdata/apj291883t3_ascii.txt",
                   skiprows=[0,1,2,4], sep='\t', header=0, na_values=' ... ', skipfooter=6)
del tbl1["Unnamed: 6"]
tbl1

,Source,3.6 mu m,4.5 mu m,5.8 mu m,8 mu m,24 mu m
0,"Our data, 0 < A_{K_s} le 0.5",0.41 +or- 0.19,0.26 +or- 0.18,0.28 +or- 0.18,0.21 +or- 0.17,1.08 +or- 0.32
1,"Our data, 0.5 < A_{K_s} le 1",0.49 +or- 0.10,0.35 +or- 0.10,0.35 +or- 0.10,0.35 +or- 0.10,0.75 +or- 0.14
2,"Our data, 1 < A_{K_s} le 2",0.60 +or- 0.05,0.46 +or- 0.05,0.44 +or- 0.05,0.43 +or- 0.05,0.61 +or- 0.08
3,"Our data, A_{K_s} ge 2",0.64 +or- 0.03,0.53 +or- 0.03,0.46 +or- 0.03,0.45 +or- 0.03,0.34 +or- 0.13
4,Other Authors,NaN,None,None,None,None
5,Flaherty et al. (2007),0.632 +or- 0.004,0.54 +or- 0.01,0.50 +or- 0.02,0.50 +or- 0.01,0.46 +or- 0.04
6,Indebetouw et al. (2005),0.56 +or- 0.06,0.43 +or- 0.08,0.43 +or- 0.10,0.43 +or- 0.10,...
7,Lutz (1999)^a,0.53 +or- 0.03,0.50 +or- 0.08,0.49 +or- 0.06,0.42 +or- 0.06,...
8,Dust Models^b,NaN,None,None,None,None
9,"Weingartner & Draine (2001), R_V = 3.1",0.40,0.25,0.17,0.22,0.17
10,"Weingartner & Draine (2001), R_V = 5.5",0.60,0.49,0.40,0.41,0.24
11,"KP, v5.0",0.48,0.38,0.34,0.38,0.38

**The end.**