`ApJdataFrames` Geers2011
---
`Title`: SUBSTELLAR OBJECTS IN NEARBY YOUNG CLUSTERS (SONYC). II. THE BROWN DWARF POPULATION OF œÅ OPHIUCHI  
`Authors`: Geers et al.

Data is from this paper:  
http://iopscience.iop.org/0004-637X/726/1/23/

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
from astropy.io import ascii

In [3]:
import pandas as pd

## Table 2 - Probable Low Mass and Substellar Mass Members of rho Oph, with MOIRCS Spectroscopy Follow-up

In [4]:
names = ["No.","R.A. (J2000)","Decl. (J2000)","i (mag)","J (mag)","K_s (mag)","T_eff (K)","A_V","Notes"]
tbl2 = pd.read_csv("http://iopscience.iop.org/0004-637X/726/1/23/suppdata/apj373191t2_ascii.txt",
                   sep="\t", skiprows=[0,1,2,3], na_values="sat", names = names)
tbl2.dropna(how="all", inplace=True)
tbl2.head()

,No.,R.A. (J2000),Decl. (J2000),i (mag),J (mag),K_s (mag),T_eff (K),A_V,Notes
1,1,16 26 56.33,-24 42 37.8,21.24,17.68,15.53,2500,5,SONYC-RhoOph-1
3,2,16 26 57.36,-24 42 18.8,22.53,18.94,15.73,3100,10,SONYC-RhoOph-2
4,3,16 26 38.82,-24 23 24.7,21.10,15.10,NaN,3400,14,GY 84

## Save the data

In [5]:
! mkdir ../data/Geers2011

mkdir: ../data/Geers2011: File exists

In [6]:
tbl2.to_csv("../data/Geers2011/tb2.csv", index=False, sep='\t')

*The end*