# `ApJdataFrames` 
Grankin et al. 2008
---
`Title`: Results of the ROTOR-program     
`Authors`: Grankin et al.  


Data is from this paper:  
http://www.aanda.org/articles/aa/full/2008/09/aa8476-07/aa8476-07.html

In [1]:
import pandas as pd

In [2]:
from astropy.io import ascii, votable, misc

### Download Data

In [3]:
#! mkdir ../data/Grankin08

In [4]:
#! curl http://www.aanda.org/articles/aa/full/2008/09/aa8476-07/table3.tex >> ../data/Grankin08/table3.tex

In [5]:
! du -hs ../data/Grankin08/table3.tex

4.0K	../data/Grankin08/table3.tex

Ew, it's in $\LaTeX$ format!

### Data wrangle-- read in the data

In [10]:
#! tail -n 15 ../data/Grankin08/table3.tex

In [7]:
names = ['Name', 'Epochs', 'delta_V_min', 'delta_V_max', 'HJD0-24000000', 'Period', 'Ref1', 'Ref2']

In [8]:
tab3 = pd.read_csv('../data/Grankin08/table3.tex', sep='&', comment='\\',
                   skiprows=10, names=names, engine='python', skip_footer=5)

In [9]:
tab3.tail()

,Name,Epochs,delta_V_min,delta_V_max,HJD0-24000000,Period,Ref1,Ref2
31,VY Tau,1985--2001,0.11,0.31,44610.7,5.36995,gr91,gr94
32,Wa CrA/1,1990,0.32,0.32,48048.3,2.24000,sh95,sh95
33,Wa CrA/2,1990,0.16,0.16,48048.3,2.79000,co92,sh95
34,Wa Oph/1,1993--2004,0.10,0.30,48986.1,3.79200,za93,this paper
35,Wa Oph/3,1993--2004,0.06,0.23,49144.3,1.52140,sh98,this paper

In [11]:
tab3.to_csv('../data/Grankin08/table3.csv', index=False)

## The end!