`ApJdataFrames` Kraus2017
---
`Title`: The Greater Taurusâ€“Auriga Ecosystem. I. There is a Distributed Older Population
`Authors`: Kraus, Herczeg, et al.

Data are from this paper:  
http://iopscience.iop.org/article/10.3847/1538-4357/aa62a0/meta

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
pd.options.display.max_columns = 150

In [2]:
#%config InlineBackend.figure_format = 'retina'

In [3]:
import astropy
from astropy.table import Table
from astropy.io import ascii

In [4]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## Get all tables right away.
There are 7 tables.

In [5]:
#! mkdir ../data/Kraus2017

In [6]:
#! wget -q --directory-prefix=../data/Kraus2017/ http://iopscience.iop.org/0004-637X/838/2/150/suppdata/apjaa62a0t1_mrt.txt
#! wget -q --directory-prefix=../data/Kraus2017/ http://iopscience.iop.org/0004-637X/838/2/150/suppdata/apjaa62a0t2_mrt.txt
#! wget -q --directory-prefix=../data/Kraus2017/ http://iopscience.iop.org/0004-637X/838/2/150/suppdata/apjaa62a0t3_mrt.txt
#! wget -q --directory-prefix=../data/Kraus2017/ http://iopscience.iop.org/0004-637X/838/2/150/suppdata/apjaa62a0t4_mrt.txt
#! wget -q --directory-prefix=../data/Kraus2017/ http://iopscience.iop.org/0004-637X/838/2/150/suppdata/apjaa62a0t5_mrt.txt
#! wget -q --directory-prefix=../data/Kraus2017/ http://iopscience.iop.org/0004-637X/838/2/150/suppdata/apjaa62a0t6_mrt.txt
#! wget -q --directory-prefix=../data/Kraus2017/ http://iopscience.iop.org/0004-637X/838/2/150/suppdata/apjaa62a0t7_mrt.txt

In [7]:
! ls -1 ../data/Kraus2017/

apjaa62a0t1_mrt.txt
apjaa62a0t2_mrt.txt
apjaa62a0t3_mrt.txt
apjaa62a0t4_mrt.txt
apjaa62a0t5_mrt.txt
apjaa62a0t6_mrt.txt
apjaa62a0t7_mrt.txt

In [8]:
! head ../data/Kraus2017/apjaa62a0t7_mrt.txt

Title: The Greater Taurus-Auriga Ecosystem I: There is a Distributed Older
       Population
Authors: Kraus A.L., Herczeg G.J., Rizzuto A.C., Mann A.W., Slesnick C.L.,
         Carpenter J.M., Hillenbrand L.A., Mamajek E.E.
Table: Na8189 Indices for Candidate Class III Taurus Members of Herczeg &
    Hillenbrand (2014ApJ...786...97H)
================================================================================
Byte-by-byte Description of file: apjaa62a0t7_mrt.txt
--------------------------------------------------------------------------------
   Bytes Format Units Label   Explanations

In [9]:
tab1 = ascii.read('../data/Kraus2017/apjaa62a0t1_mrt.txt')

In [18]:
#tab1.show_in_notebook(display_length=5)

In [11]:
#tab1.write('../data/Kraus2017/tab1.csv', format='ascii.csv', overwrite=True)

In [12]:
tab5 = ascii.read('../data/Kraus2017/apjaa62a0t5_mrt.txt')

Convert the astropy tables to pandas dataframes.

In [13]:
df1, df5 = tab1.to_pandas(), tab5.to_pandas()

In [14]:
df1.head()

,2MASS,Name,SpT,r_SpT,Avmag,r_Avmag,rpmag,r_rpmag,Ksmag,pmRA,pmDE,e_pm,r_pm,BinRef
0,J03500343+2235300,[LH98] 106,G0,26.0,2.4,11,8.77,8,6.04,156.9,-60.6,1.0,1,NaN
1,J03502840+1631151,[LH98] 108,G5,26.0,0.5,11,10.38,"7,8",8.63,27.3,-26.9,0.6,1,NaN
2,J03505432+2350056,[LH98] 110,G7,26.0,0.8,11,11.08,"7,8",9.05,19.3,-45.4,0.7,1,NaN
3,J03520223+2439479,HBC351,K5,14.0,0.0,14,11.63,"7,8",9.07,17.4,-47.4,1.7,1,37
4,J03533134+2631411,[LH98] 117,G7,26.0,1.4,11,11.62,"7,8",9.24,21.4,-45.3,1.3,1,NaN

In [15]:
df5.head()

,2MASS,Name,Epoch,Tint,SNR,EWHa,EWLi,RVel,e_RVel,vsini,e_vsini
0,04072456+2332553,[SCH2006b] J0407246+2332554,20061212,1800,24,-5.5,0,11.8,0.5,14.2,0.6
1,04073502+2237394,[SCH2006b] J0407350+2237396,20061213,1800,21,-16.4,612,15.4,2.5,97.3,3.5
2,04162725+2053091,[SCH2006b] J0416272+2053093,20061213,1800,20,-4.0,561,19.3,0.5,14.3,0.6
3,04270739+2215037,[SCH2006b] J0427074+2215039,20061213,1800,9,-15.5,443,16.8,0.6,14.9,0.7
4,04295950+2433078,[SCH2006b] J0429595+2433080,20061213,1800,6,-83.2,307,19.3,0.8,18.4,1.0

In [16]:
df1.shape

(396, 14)

In [17]:
df5.shape

(35, 11)

The end for now.