`ApJdataFrames` Luhman1999
---
`Title`: Low-Mass Star Formation and the Initial Mass Function in the ρ Ophiuchi Cloud Core  
`Authors`: K. L. Luhman and G.H. Rieke

Data is from this paper:  
http://iopscience.iop.org/0004-637X/525/1/440/fulltext/

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
from astropy.io import ascii

In [3]:
import pandas as pd

## Table 1 - Data for Spectroscopic Sample in ρ Ophiuchi

In [4]:
names = ["BKLT","Other ID","RA_1950","DEC_1950","SpT_prev","SpT_IR","SpT_adopted",
          "Teff","AJ","Lbol","J-H","H-K","K","rK","BrGamma"]
tbl1 = pd.read_csv("http://iopscience.iop.org/0004-637X/525/1/440/fulltext/40180.tb1.txt", 
                   sep="\t", na_values="\ldots", skiprows=1, names=names)
tbl1.RA_1950 = "16 "+tbl1.RA_1950
tbl1.DEC_1950 = "-24 "+tbl1.DEC_1950
tbl1.head()

,BKLT,Other ID,RA_1950,DEC_1950,SpT_prev,SpT_IR,SpT_adopted,Teff,AJ,Lbol,J-H,H-K,K,rK,BrGamma
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,SR 22,16 22 22.7,-24 22 55.0,"K7-M0(GM), M0(CK), M3.5(M)",K6-M2,M0,3850,0.6,0.76,0.93,0.45,8.70,0.25,1.9 \pm 0.4
2,162536-241544,IRS 2,16 22 35.59,-24 08 57.6,K7(GM),K3-K4,K3.5,4660,1.9,2.10,1.39,0.70,8.36,0,0
3,162556-242050,"SR 4, EL 13, YLW 25, IRS 12, ROXs 6, WSB 25, D...",16 22 54.82,-24 14 04.5,"K6(BA), K7(CK)",K5-M2,K8,3955,0.5,1.90,1.06,0.72,7.25,"1.5, 2, 1.5","6.7 \pm 0.3, 4.5 \pm 0.5, 5.5 \pm 0.5"
4,162557-243032,"GSS 20, IRS 13, ROXs 7",16 22 56.11,-24 23 46.6,"K7(GM), K7(BA)",K5-K7,K6,4205,0.9,1.10,1.12,0.63,8.37,0,0

In [5]:
len(tbl1)

115

##Save data

In [6]:
! mkdir ../data/Luhman1999

mkdir: ../data/Luhman1999: File exists

In [7]:
tbl1.to_csv("../data/Luhman1999/tbl1.csv", index=False, sep='\t')

*The end*