`ApJdataFrames` McClure
---
`Title`: THE EVOLUTIONARY STATE OF THE PRE-MAIN SEQUENCE POPULATION IN OPHIUCHUS: A LARGE INFRARED SPECTROGRAPH SURVEY  
`Authors`: McClure et al.

Data is from this paper:  
http://iopscience.iop.org/0067-0049/188/1/75/

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
from astropy.io import ascii

In [3]:
import pandas as pd

## Table 1 - Target Information for Ophiuchus Sources

In [4]:
tbl1 = pd.read_csv("http://iopscience.iop.org/0067-0049/188/1/75/suppdata/apjs330182t1_ascii.txt",
                   sep="\t", na_values=" ... ", skiprows=[0,1,2], skipfooter=1, usecols=range(9))
tbl1.head()

,Name,Alt. Names,Cloud,R.A. (J2000),Decl. (J2000),Camp.,AOR ID,Modules,Comments
0,16126-2235,V* VV Sco,Off-core,16 15 34.58,-22 42 37.86,19,12675072,SLLL,NaN
1,16156-2358AB,NaN,Off-core,16 18 37.25,-24 05 18.19,23,12674304,SLSHLH,NaN
2,16168-2526,NaN,Off-core,16 19 54.57,-25 33 34.14,23,12674304,SLSHLH,IRAS off-core
3,W-60,NaN,Off-core,16 20 30.9,-23 10 41.06,23,12703232,SLLL,IRAS off-core
4,16178-2501,NaN,Off-core,16 20 50.52,-25 07 59.25,23,12702464,SLLL,IRAS off-core

## Table 2 - Spectral Type Information for the Entire Sample

In [5]:
tbl2 = pd.read_csv("http://iopscience.iop.org/0067-0049/188/1/75/suppdata/apjs330182t2_ascii.txt",
                   sep="\t", na_values=" ... ", skiprows=[0,1,2,4], skipfooter=4)
del tbl2["Unnamed: 13"]
tbl2.head()

,Name,Mult.,Sep.,SpT,EW_Halpha,TT Type,Ref.,n_5-12^a,State,n_2-25^a,Class,A_V,Method
0,16126-2235AB,B,1.9,M3,NaN,NaN,"17, this work, N/A",-1.21,Disk,-0.70,II,0.5,SPEX
1,16156-2358AB,B,4,F0,NaN,NaN,"18, 1, N/A",-1.47,Disk,-0.53,II,1.9,SPEX
2,16193-2314,NaN,NaN,G5,NaN,NaN,"N/A, this work, N/A",-0.67,Disk,-0.74,II,3.0,SPEX
3,16201-2410,NaN,NaN,G0,NaN,NaN,"N/A, this work, N/A",-1.37,Disk,-0.53,II,6.9,SPEX
4,16220-2452AB,B,1.48,M3,NaN,NaN,"2, 2, N/A",-0.50,Disk,-0.47,II,3.2,JH

##Merge the two catalogs

In [11]:
tbl1_2_merge = pd.merge(tbl1[["Name", "R.A. (J2000)", "Decl. (J2000)"]], tbl2[["Name","SpT"]], how="outer")
tbl1_2_merge.tail()

        Name R.A. (J2000) Decl. (J2000)  SpT
153  GY156AB          NaN           NaN  NaN
154    WL6AB          NaN           NaN  NaN
155  IRS51AB          NaN           NaN   K6
156  GY371AB          NaN           NaN   M6
157   ROXs39          NaN           NaN   K6

##Save data

In [9]:
! mkdir ../data/McClure2010

mkdir: ../data/McClure2010: File exists

In [10]:
tbl1_2_merge.to_csv("../data/McClure2010/tbl1_2_merge.csv", index=False, sep='\t')

*The end*