`ApJdataFrames` McClure
---
`Title`: THE EVOLUTIONARY STATE OF THE PRE-MAIN SEQUENCE POPULATION IN OPHIUCHUS: A LARGE INFRARED SPECTROGRAPH SURVEY  
`Authors`: McClure et al.

Data is from this paper:  
http://iopscience.iop.org/0067-0049/188/1/75/

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
from astropy.io import ascii

In [3]:
import pandas as pd

## Table 1 - Target Information for Ophiuchus Sources

In [4]:
tbl1 = pd.read_csv("http://iopscience.iop.org/0067-0049/188/1/75/suppdata/apjs330182t1_ascii.txt",
                   sep="\t", na_values=" ... ", skiprows=[0,1,2], skipfooter=1, usecols=range(9))
tbl1.head()

,Name,Alt. Names,Cloud,R.A. (J2000),Decl. (J2000),Camp.,AOR ID,Modules,Comments
0,16126-2235,V* VV Sco,Off-core,16 15 34.58,-22 42 37.86,19,12675072,SLLL,NaN
1,16156-2358AB,NaN,Off-core,16 18 37.25,-24 05 18.19,23,12674304,SLSHLH,NaN
2,16168-2526,NaN,Off-core,16 19 54.57,-25 33 34.14,23,12674304,SLSHLH,IRAS off-core
3,W-60,NaN,Off-core,16 20 30.9,-23 10 41.06,23,12703232,SLLL,IRAS off-core
4,16178-2501,NaN,Off-core,16 20 50.52,-25 07 59.25,23,12702464,SLLL,IRAS off-core

## Table 2 - Spectral Type Information for the Entire Sample

In [5]:
tbl2 = pd.read_csv("http://iopscience.iop.org/0067-0049/188/1/75/suppdata/apjs330182t2_ascii.txt",
                   sep="\t", na_values=" ... ", skiprows=[0,1,2,4], skipfooter=4)
del tbl2["Unnamed: 13"]
tbl2.head()

,Name,Mult.,Sep.,SpT,EW_Halpha,TT Type,Ref.,n_5-12^a,State,n_2-25^a,Class,A_V,Method
0,16126-2235AB,B,1.9,M3,NaN,NaN,"17, this work, N/A",-1.21,Disk,-0.70,II,0.5,SPEX
1,16156-2358AB,B,4,F0,NaN,NaN,"18, 1, N/A",-1.47,Disk,-0.53,II,1.9,SPEX
2,16193-2314,NaN,NaN,G5,NaN,NaN,"N/A, this work, N/A",-0.67,Disk,-0.74,II,3.0,SPEX
3,16201-2410,NaN,NaN,G0,NaN,NaN,"N/A, this work, N/A",-1.37,Disk,-0.53,II,6.9,SPEX
4,16220-2452AB,B,1.48,M3,NaN,NaN,"2, 2, N/A",-0.50,Disk,-0.47,II,3.2,JH

##Merge the two catalogs

In [7]:
tbl1_2_merge = pd.merge(tbl1[["Name", "R.A. (J2000)", "Decl. (J2000)"]], tbl2, how="outer")
tbl1_2_merge.tail()

,Name,R.A. (J2000),Decl. (J2000),Mult.,Sep.,SpT,EW_Halpha,TT Type,Ref.,n_5-12^a,State,n_2-25^a,Class,A_V,Method
153,GY156AB,NaN,NaN,B,0.16,NaN,NaN,NaN,"19, N/A, N/A",-2.63,Photosphere,NaN,NaN,17.8,JH CTTb
154,WL6AB,NaN,NaN,B,0.18,NaN,NaN,NaN,"19, N/A, N/A",-0.52,Disk,1.14,I,55.0,HK CTTb
155,IRS51AB,NaN,NaN,B,1.65,K6,NaN,NaN,"19, 10, N/A",-1.05,Disk,0.21,FS,32.4,JH
156,GY371AB,NaN,NaN,B,0.35,M6,NaN,NaN,"19, 13, N/A",-1.29,Disk,-1.08,II,5.4,IJ
157,ROXs39,NaN,NaN,NaN,NaN,K6,NaN,NaN,"N/A, 4, N/A",-2.65,Photosphere,-2.86,III,1.4,JH

##Save data

In [15]:
lowAv = nonBinary = tbl1_2_merge['A_V'] < 10.0
nonBinary = tbl1_2_merge['Mult.'] != tbl1_2_merge['Mult.']
classIII = tbl1_2_merge['Class'] == 'III'
wtts = tbl1_2_merge['TT Type'] == 'WTTS'
diskless = tbl1_2_merge['State'] == 'Photosphere'

In [17]:
for val in [lowAv, nonBinary, classIII, wtts, diskless]:
    print(val.sum())

50
116
4
11
14

In [20]:
sample = nonBinary & diskless

sample.sum()

8

In [23]:
tbl1_2_merge.to_csv('../data/McClure2010/tbl1_2_merge_all.csv', index=False)

In [13]:
tbl1_2_merge.columns

Index(['Name', 'R.A. (J2000)', 'Decl. (J2000)', 'Mult.', 'Sep.', 'SpT',
       'EW_Halpha', 'TT Type', 'Ref.', 'n_5-12^a', 'State', 'n_2-25^a',
       'Class', 'A_V', 'Method'],
      dtype='object')

In [14]:
tbl1_2_merge[wtts]

,Name,R.A. (J2000),Decl. (J2000),Mult.,Sep.,SpT,EW_Halpha,TT Type,Ref.,n_5-12^a,State,n_2-25^a,Class,A_V,Method
14,ROX2,16 25 24.37,-23 55 09.94,B,0.42,M0,2.8,WTTS,"19, 14, 14",-2.85,Photosphere,NaN,NaN,3.4,JH
18,ROX3,16 25 49.65,-24 51 31.71,NaN,NaN,M0,2.3-2.7,WTTS,"N/A, 14, 14",-2.36,Photosphere,-2.73,III,0.9,IJ
19,IRS10,16 25 50.53,-24 39 14.31,NaN,NaN,K5.5,2.5,WTTS,"N/A, 3, 3",-2.77,Photosphere,NaN,NaN,4.4,IJ
105,GY284,16 27 30.83,-24 24 56.28,NaN,NaN,M3.25,2.9,WTTS,"N/A, 3, 3",-0.34,Disk,-0.27,FS,6.0,IJ
112,GY310,16 27 38.63,-24 38 39.3,NaN,NaN,M4,0,WTTS,"N/A, 3, 3",-0.55,Disk,-0.35,II,6.5,IJ
118,GY326,16 27 42.69,-24 38 50.67,NaN,NaN,M2,0.2,WTTS,"N/A, 3, 3",-1.87,Disk,-1.16,II,8.8,IJ
124,IRS55AB,16 27 52.07,-24 40 50.37,B,0.39,K7.5,1.3,WTTS,"15, 3, 3",-2.82,Photosphere,-2.56,III,5.0,IJ
134,ROX-42Cab,16 31 15.75,-24 34 02.21,SpB,0.28,K6,0-1.6,WTTS,"14, 14, 14",-0.97,Disk,-1.08,II,1.6,JH
135,ROX-43A1,16 31 20.12,-24 30 05.03,SpB,NaN,G0,1.8-3.4,WTTS,"14, 14, 14",-0.32,Disk,-0.61,II,3.0,JH
136,ROX-43A2,16 31 20.19,-24 30 00.73,NaN,NaN,G0,1.8-3.4,WTTS,"14, 14, 14",NaN,Disk,-0.56,II,3.0,JH
143,ROX-47A,16 32 11.81,-24 40 21.3,B,0.78,M3,9.2,WTTS,"19, 14, 14",-1.94,Disk,-1.55,II,1.6,SPEX

In [9]:
! mkdir ../data/McClure2010

mkdir: ../data/McClure2010: File exists

In [10]:
tbl1_2_merge.to_csv("../data/McClure2010/tbl1_2_merge.csv", index=False, sep='\t')

*The end*