## Somers2017

`Title`: A Measurement of Radius Inflation in the Pleiades and Its Relation to Rotation and Lithium Depletion  
`Authors`: Somers & Stassun

Data is from this paper:  
http://iopscience.iop.org/article/10.3847/1538-3881/153/3/101/meta

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
pd.options.display.max_columns = 150
%config InlineBackend.figure_format = 'retina'
import astropy
from astropy.io import ascii
from astropy.table import Table
import numpy as np

## Table 1: Basic Pleiades data

Currently behind a paywall, requires institutional access.

In [2]:
#! mkdir ../data/Somers2017
#! wget http://iopscience.iop.org/1538-3881/153/3/101/suppdata/ajaa4ef4t1_mrt.txt
#! mv ajaa4ef4t1_mrt.txt ../data/Somers2017/

In [3]:
! head ../data/Somers2017/ajaa4ef4t1_mrt.txt

Title: A Measurement of Radius Inflation in the Pleiades
       and its Relation to Rotation and Lithium Depletion
Authors: Somers G., Stassun K.G.
Table: Basic Pleiades Data
================================================================================
Byte-by-byte Description of file: ajaa4ef4t1_mrt.txt
--------------------------------------------------------------------------------
   Bytes Format Units   Label    Explanations
--------------------------------------------------------------------------------
   1-  4 I4     ---     HII      The H II identifier

In [4]:
tab1 = ascii.read('../data/Somers2017/ajaa4ef4t1_mrt.txt')

In [5]:
#tab1.show_in_notebook(display_length=5)

In [6]:
df1 = tab1.to_pandas()
df1.head()

,HII,Tycho,2MASS,RAdeg,DEdeg,Vmag,B-V,e_B-V,V-Ks,e_V-Ks,PRot,Binary?
0,25.0,1803-478-1,03425511+2429350,55.729626,24.493065,9.47,0.48,0.02,1.207,0.029,1.410000,N
1,34.0,1803-400-1,03430293+2440110,55.762230,24.669737,12.03,0.94,0.02,2.303,0.028,6.690000,N
2,97.0,NaN,03432662+2459395,55.860922,24.994333,12.50,1.08,0.02,2.705,0.030,6.749476,Y
3,120.0,1799-118-1,03433195+2340266,55.883139,23.674074,10.79,0.70,0.02,1.687,0.029,3.990000,N
4,129.0,1799-1268-1,03433440+2345429,55.893373,23.761917,11.47,0.88,0.02,2.100,0.029,5.440000,Y

## Table 2: Derived stellar properties

In [7]:
#! wget http://iopscience.iop.org/1538-3881/153/3/101/suppdata/ajaa4ef4t2_mrt.txt
#! mv ajaa4ef4t2_mrt.txt ../data/Somers2017/

In [8]:
tab2 = ascii.read('../data/Somers2017/ajaa4ef4t2_mrt.txt')

In [9]:
df2 = tab2.to_pandas()

In [10]:
df2.head()

,HII,Teff,E_Teff,e_Teff,FBol,e_FBol,E_FBol,chi2,ADia,e_ADia,E_ADia,Rad,e_Rad,E_Rad,DelRad,E_DelRad,e_DelRad
0,25,6513,55,68,47.38,1.71,0.59,2.18,8.89,0.23,0.18,1.280,0.044,0.038,6.4,3.7,3.2
1,34,5011,27,34,5.77,0.15,0.21,2.45,5.24,0.09,0.12,0.754,0.022,0.024,4.4,3.0,3.3
2,97,4658,23,28,4.36,0.28,0.26,7.05,5.27,0.18,0.17,0.759,0.031,0.030,15.4,4.7,4.5
3,120,5729,40,49,14.71,0.28,0.29,2.26,6.40,0.12,0.12,0.922,0.027,0.027,3.5,3.0,3.0
4,129,5220,31,38,9.06,0.27,0.28,1.99,6.05,0.12,0.12,0.871,0.026,0.026,14.4,3.4,3.5

In [11]:
df1.to_csv('../data/Somers2017/tb1.csv', index=False)
df2.to_csv('../data/Somers2017/tb2.csv', index=False)

The end!